/* Exemplo simplificado de como um reset pode começar */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* Para garantir que o padding e border sejam incluídos no tamanho do elemento */
    font-family: "Inter", sans-serif;
}

/* largura e altura do scroll */
::-webkit-scrollbar {
    width: 8px;
    /* largura vertical */
    height: 8px;
    /* altura horizontal */
}

/* trilho (fundo do scroll) */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

/* polegar (barra que você arrasta) */
::-webkit-scrollbar-thumb {
    background: #CA3884;
    border-radius: 10px;
}

/* polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

main {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

html,
body {
    height: max-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 25vh;
}

header {
    width: max-content;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

nav {
    width: max-content;
    justify-items: left;
}

nav a,
a:visited,
a:active,
a:focus,
a:hover {
    text-decoration: none;
}

button {
    -webkit-appearance: none;
    /* For WebKit browsers */
    -moz-appearance: none;
    /* For Mozilla browsers */
    appearance: none;
    /* Standard property */
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #CA3884;
    font-weight: 500;
    margin-bottom: 15px;
}

@media (min-width: 1200px) {
    #input {
        width: 451px;
        height: 44px;
        text-align: left;
        border-radius: 8px;
        padding: 15px;
    }
}

/* Quando não aplicável @Media */
#input {
    width: 451px;
    height: 44px;
    text-align: left;
    border-radius: 8px;
    padding: 15px;
    border: 2px solid transparent
}

#input:focus {
    caret-color: #CA3884;
    border: solid 2px;
    border-color: #CA3884;
    outline: none;
}

#input:hover {
    border: solid 2px;
    border-color: #CA3884;
    outline: none;
}

@media(max-width: 768px) {
    #input {
        width: 200px;
        height: 44px;
        text-align: left;
        border-radius: 8px;
        padding: 15px;
    }
}

.submit {
    width: 160px;
    height: 44px;
    background-color: #CA3884;
    color: white;
    border-radius: 10px;
    justify-content: center;
}

.export {
    width: 160px;
    height: 44px;
    background-color: #CA3884;
    color: white;
    border-radius: 10px;
    justify-content: center;
    margin-left: auto;
    visibility: hidden;
}

.submit:hover {
    background-color: #ca076cbd;
}

.export:hover {
    background-color: #ca076cbd;
}

form {
    display: flex;
    gap: 16px;
    flex-grow: 1;
}

ul {
    max-height: 300px;
    list-style: none;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

ul li .bi-pencil:hover {
    color: #CA3884;
}

ul.contains {
    border-radius: 5px;
    border: 0.5px solid #dadada;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    visibility: visible;
    transition: 1s ease;
    opacity: 1;

}

ul.empty {
    box-shadow: none;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: 2s ease;
}

.no-content {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 220%);
    margin: 10px auto;
    white-space: nowrap;
    background-color: #f8bcdb;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    width: 627px;
}

/* Celulares pequenos */
@media (max-width: 480px) {
    .no-content {
        width: 376px;
        font-size: 14px;
        padding: 10px;
    }
}

/* Celulares médios */
@media (min-width: 481px) and (max-width: 767px) {
    .no-content {
        width: 360px;
        font-size: 15px;
        padding: 11px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .no-content {
        width: 627px;
        font-size: 16px;
    }
}

/* Laptops pequenos */
@media (min-width: 1024px) and (max-width: 1365px) {
    .no-content {
        width: 627px;
        font-size: 17px;
    }
}

/* Monitores padrão */
@media (min-width: 1366px) and (max-width: 1879px) {
    .no-content {
        width: 627px;
        font-size: 18px;
    }
}

/* Monitores grandes */
@media (min-width: 1880px) and (max-width: 2559px) {
    .no-content {
        width: 627px;
        font-size: 20px;
    }
}

/* Telas 2K ou 4K */
@media (min-width: 2560px) {
    .no-content {
        width: 627px;
        font-size: 22px;
    }
}


li {
    padding: 20px;
    padding-left: 0;
    padding-top: 0px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

li input {
    accent-color: #CA3884;
    transform: scale(1.3);
}

.allElements {
    display: flex;
    text-align: center;
    align-items: center;
    opacity: 1;
    cursor: pointer;
}

#selectAll {
    display: flex;
    gap: 10px;
    visibility: hidden;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.selectAll {
    accent-color: #CA3884;
    transform: scale(1.3);
    display: flex;
    margin-left: 20px;
}

#allTrash {
    visibility: hidden;
    margin-right: 20px;
}

.custom-checkbox input {
    display: none;
}

.hgi-delete-02 {
    font-size: 20px;
    margin-left: auto;
}

.divIcons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.bi-pencil {
    font-size: 17px;
    color: #CA3884;
}

.newLabel {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

/* Estilização para input de alteração de produto.*/
.newInputPencil {
    font-size: 12px;
    width: 10em;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 13px;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
}

.icon-hidden {
    display: none;
    opacity: 0;
    visibility: hidden; 
}


.newInputPencil:focus,
.newInputPencil:hover {
        caret-color: #CA3884;
        border: 2px solid #CA3884;
        border-radius: 5px;
        box-shadow: none;
}

.save {
    margin-left: 22px;
    border: 2px solid #CA3884;
    background-color: #CA3884;
    color: white;
    border-radius: 5px;
    padding: 1px;
    justify-content: center;
    transition: 2s ease;
}

i {
    font-size: 20px;
    cursor: pointer;
    display: flex;
}

footer {
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    padding: 12px;
    min-height: 40px;
    color: white;
    text-align: center;
    transition: 1s ease;
    margin: 0 auto;
    margin-bottom: 10px;
    position: fixed;
    bottom: 20px;
}

/* Smartphones */
@media (max-width: 767px) {
    footer {
        width: 376px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    footer {
        width: 627px;
    }
}

/* Notebooks e PCs */
@media (min-width: 1024px) {
    footer {
        width: 627px;
    }
}

.transitionError {
    opacity: 1;
    visibility: visible;
    transition: .5s ease;
    background-color: #C93847;
    z-index: 1;
    margin-bottom: 3.5em;
}

.transitionSuccess {
    opacity: 1;
    visibility: visible;
    transition: .5s ease;
    background-color: #1cbd52d7;
    z-index: 1;
    margin-bottom: 3.5em;
}

.transparent {
    filter: blur(2px);
    opacity: 0.2;
}

.copyright {
    visibility: visible;
    opacity: 1;
    width: max-content;
    align-content: center;
    background-color: #CA3884;
    margin: 0;
    bottom: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    z-index: 0;
}

.copyright p {
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 0;
    margin: 0;
}

dialog {
    width: 50%;
    height: 50%;
    max-width: auto;
    max-height: auto;
    margin: 10% auto;
    border: 2px solid transparent;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    align-items: center;
    text-align: center;
    padding: 20px;
    outline: none;
    flex-direction: column;
}

dialog h1 {
    font-size: 25px;
    margin-top: 60px;
    font-family: "Inter", sans-serif;
    margin-bottom: 50px;
    color: #CA3884;
}

section {
    align-content: center;
}

.confirmButtons {
    margin-top: auto;
    display: flex;
    gap: 60px;
}

.confirmButtons > button {
    color: #FFFFFF;
    padding: 6px 14px;
    background-color: #CA3884;
    border-radius: 8px;
}
